{% extends "base.html" %}
{% block main %}

    <div class="col-md-6 column">
        <h4>添加爬取Todo:</h3>
        <form action="/task" method="post" role="form">
            <div class="form-group">
                <label for="url">URL</label>
                <input type="text" name="url" autoComplete="off" class="form-control" id="url" />
            </div>
            <div class="form-group">
                <label for="university">University</label>
                <input type="text" name="university" autoComplete="off" class="form-control" id="university" />
            </div>
            <div class="form-group">
                <label for="department">Department</label>
                <input type="text" autoComplete="off"name="department" class="form-control" id="department" />
            </div>
            <div class="form-group">
                <label for="slowdown">Slowdown</label>
                <select class="form-control" name="slowdown">
                    <option value="2">2s</option>
                    <option value="None">None</option>
                    <option value="1">1s</option>
                    <option value="5">5s</option>
                    <option value="10">10s</option>
                </select>
            </div>
            <input class="btn btn-primary" type="submit" name="submit" value="提交" class="form-control">
        </form>
    </div>
    <div class="col-md-6 column">
        <h4>停用词:</h4>
        <form action="/add/stopword" method="post" role="form">
            <div class="form-group">
                <label for="word">Stop Word</label>
                <input type="text" name="word" class="form-control" id="word" />
            </div>
            <input class="btn btn-primary" type="submit" name="submit" value="提交" class="form-control">
        </form>
    </div>
    <div class="col-md-12 column">
        <h4>批量添加爬取todo:</h3>
        <form action="/manytask" method="post">
            <div class="form-group">
                <label for="manytask">Tasks</label>
                <textarea name="manytask" id="manytask"rows="8" cols="90" placeholder="每一行数据格式:url 大学名称 部门名称(空格隔开)" class="form-control"></textarea>
            </div>
            <input class="btn btn-primary" type="submit" name="submit" value="提交" class="form-control">
        </form>
    </div>
{% endblock %}
